<div ng-if="isLoggedIn()" ng-controller="UserControlPanelCtrl" id="user-cp-wrapper-wrapper">
	<div id="user-cp-wrapper" ng-cloak collapse="userCpIsCollapsed" >
		<div id="user-cp">
			<div class=row>
				<div class="medium-6 small-6 columns">
					<i class=icon-navigation></i> Dashboard for <span ng-bind-html="getCurrentUser().name"></span> ({{getCurrentUser().id}})
				</div>
				<div class="medium-6 small-6 columns" ng-click="userCpIsCollapsed=true">
					<a href="/#/volumes/0"><i class="icon-home"></i> Home</a>
					<br>
					<a href="/#/volumes/1"><i class="icon-spaceinvaders"></i> Psandbox</a>
					<br>
					<a href="/#/my-account"><i class="icon-user2"></i> My Acct</a>
					<br>
					<a href="/repository/index.html" target="_blank"><i class="icon-uniF543"></i> Repository</a>
					<br>
					<i class="icon-user-tie"></i> Last activity
					<br>
					<a href="/icomoon-demo/demo.html" target="_blank"><i class="icon-uniF62B"></i> Available Icons</a>
					<br>
					<a href="/signout"><i class="icon-exit"></i> Logout</a>
				</div>
			</div>
			<div class=row>
				<div class="small-12 medium-6 medium-offset-6 columns">
					<br>
					<input type=checkbox ng-model="ux.showScrollButtons" id="cp-show-scroll-btns"
						ng-true-value="true"
						ng-false-value="false">
					<label for="cp-show-scroll-btns">Top and Bottom Buttons</label>
					<br>
					<input type=checkbox ng-model="ux.pollUpdates" id="cp-poll-updates"
						ng-true-value="true"
						ng-false-value="false">
					<label for="cp-poll-updates" title="Check for updates every 5 minutes">Periodically Poll for Updates</label>
				</div>
			</div>
		</div>
	</div>
	<div id="toptabs">
		<span ng-show="ux.showScrollButtons">
			<a class="button" ng-click="scrollTop()">
				<i class="icon-arrow-up" title="scroll to top"></i>
			</a>
			<a class="button" ng-click="scrollEnd()">
				<i class="icon-arrow-down" title="scroll to bottom"></i>
			</a>
		</span>
		<a id="user-cp-tab" class="button" ng-click="userCpIsCollapsed=!userCpIsCollapsed">
			<i class="icon-pacman2"></i>
		</a>
	</div>
</div>
