<div ng-controller="VolumeCtrl">
	<div style="float:right" ng-if="homePage">
		<p><img src="/Duck-of-Doom.png" width="300"></p>
	</div>
	<header>
		<h1 ng-bind-html="title" ng-hide="description"></h1>
		<div id="volume-description" ng-bind-html="description"></div>
	</header>
	<ng-include src="'/volumes/tree.html'"></ng-include>
	<p ng-if="volume.anthology" class="text-center">
		<a class="button secondary round" ng-href="/#/volumes/new?parent_id={{volume.id}}"><i class="icon-circleadd"></i> Add Volume</a>
	</p>
  <div ng-show="state.showTools" class="text-center">
    <label style="display: inline">&#x2B06;&#xFE0F; &#x1F4C5;</label>
    <input ng-model="search.before" size=10 placeholder="YYYY-MM-DD">
    &nbsp;
    <label style="display: inline">&#x2B07;&#xFE0F; &#x1F4C5;</label>
    <input ng-model="search.after" size=10 placeholder="YYYY-MM-DD">
    &nbsp;
    <label style="display: inline">&#x1F50D;</label>
    <input ng-model="search.text" placeholder="text">
    <br>
    <a class="button secondary translucent no-transition radius" ng-click="searchPosts({n: 100})">100</a>
    <a class="button secondary translucent no-transition radius" ng-click="searchPosts({n: 10})">10</a>
    <a class="button secondary translucent no-transition radius" ng-click="searchPosts({n: 5})">5</a>
  </div>
	<div id="posts" ng-if="volume.id">
		<!-- PRE POSTS -->
		<div ng-hide="firstPageLoaded" class="text-center">
      <div ng-hide="posts.$promise">
        <a class="button secondary translucent no-transition radius" ng-click="state.showTools = !state.showTools">&#x1F6E0;&#xFE0F;</a>
        <a class="button secondary translucent no-transition radius" ng-click="loadPostsBefore({})">&uarr; 100</a>
        <a class="button secondary translucent no-transition radius" ng-click="loadPostsBefore({n: 10})">&uarr; 10</a>
        <a class="button secondary translucent no-transition radius" ng-click="loadPostsBefore({n: 5})">&uarr; 5</a>
      </div>
      <div ng-show="posts.$promise">
        <a class="button secondary translucent no-transition"><i class="icon-spinner rotate"></i></a>
      </div>
		</div>
    <div ng-if="reversePagePlacement && firstPageLoaded" class="text-center">
      <p><em style="font-variant: small-caps; font-family: 'Times New Roman', Times, serif;">No more posts</em></p>
    </div>
		<!-- POSTS -->
		<div ng-repeat="post in posts" ng-controller="PostCtrl">
			<div ng-include="'/volumes/insert-post.html'"></div>
			<div class="row" ng-include="'/volumes/post.html'"></div>
		</div>
		<!-- POST POSTS -->
		<div ng-hide="lastPageLoaded" class="text-center">
      <a class="button secondary translucent radius" ng-click="loadPostsAfter({n: 100})">&darr; 100</a>
      <a class="button secondary translucent radius" ng-click="loadPostsAfter({n: 10})">&darr; 10</a>
      <a class="button secondary translucent radius" ng-click="loadPostsAfter({n: 5})">&darr; 5</a>
    </div>
    <div ng-if="!reversePagePlacement && lastPageLoaded" class="text-center">
      <p><em style="font-variant: small-caps; font-family: 'Times New Roman', Times, serif;">No more posts</em></p>
    </div>
    <hr>
    <div ng-show="!volume.closed && (lastPageLoaded || reversePagePlacement)" class="row">
      <div class="small-12 medium-2 columns text-right">
        <a class="button round small" ng-click="createPost()">Post</a><br>
        <a class="button round small secondary" ng-click="loadNewPosts()">Poll for Updates</a><br>
      </div>
      <div class="small-12 medium-10 columns">
        <textarea ped-ckeditor=true id="new-post"></textarea>
      </div>
    </div>
  </div>
	<div ng-if="homePage" class="text-center">
		<small>Image attribution: muscovy duck from wikimedia commons (https://commons.wikimedia.org/wiki/File:Head_of_Muscovy_Duck.jpg) and flames from Dominic Alves' flickr photostream (https://www.flickr.com/photos/dominicspics/1902322480/in/photostream/)</small>
	</div>
</div>
