<div ng-controller="Contents.VolumeCtrl as volCtrl" ng-repeat="volume in volume.$childVolumes">
	<div class=row>
		<div class="medium-4 small-12 columns title-col">
			<a ng-bind-html="volCtrl.title || volume.title || volume.id" href="/#/volumes/{{volume.id}}/posts"></a>
		</div>
		<div class="medium-4 small-6 columns">
			<small>{{volCtrl.updatedBy}}</small>
			<small>{{timestamp()}}</small>
		</div>
		<div class="medium-4 small-6 columns">
			<a title="Show child volumes" ng-click="showChildVols(volume)"><i class="icon-tree"></i></a>
			&nbsp;
			<a href='/#/volumes/{{volume.id}}/edit' title="Meta"><i class="icon-cog2"></i></a>
		</div>
	</div>
	<div collapse="!volume.$showChildVols" class="child-volumes">
		<p class="text-center" ng-hide="volume.$childVolumes.$resolved"><i class="icon-spinner rotate"></i></p>
		<ng-include src="'/volumes/tree.html'"></ng-include>
	</div>
</div>
