/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require icomoon
 *= require foundation/css/foundation
 *= require angular-ui-select/dist/select.min
 *= require_self
 */

#bulletin-wrapper {
	position: fixed;
	top: 0;
	left: 0;
}

#bulletin-wrapper > div {
	position: relative;
}

ng-view > * {
	margin: 8px;
}

#user-cp-wrapper-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
}

#user-cp-wrapper {
	background: #e5e5e5;
}

#user-cp {
	padding: 16px;
}

#user-cp-tab {
	border-radius: 0 0 16px 16px;
	padding: 8px 16px;
	position: absolute;
	right: 16px;
}

.animate-fadeout {
	opacity:1;
	-webkit-transition:all linear 0.5s;
	transition:all linear 0.5s;
}

.animate-fadeout.ng-hide {
	opacity: 0;
}

[collapse] {
	overflow: hidden;
	-webkit-transition:all linear 0.3s;
	transition:all linear 0.3s;
}

#volume-form input[type=number] {
	width: 4em;
}