<!DOCTYPE html>
<html ng-app=PedestrianSite ng-controller="TopCtrl">
<head>
  <title>Pedestrian 8</title>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="/assets/ckeditor/ckeditor.js"></script>
  <link rel=stylesheet ng-if="header.stylesheet" ng-href="{{header.stylesheet}}">
</head>
<body>

<div id="bulletin-wrapper">
	<div ng-repeat="bullet in bulletins" class="alert-box {{bullet.klass}} round animate slide-animation" ng-mouseover="bullet.stopTimer()" ng-mouseout="bullet.startTimer()">
		<a ng-click="bullet.remove()" class="close"><i class="icon-cancel"></i></a>&nbsp;
		{{bullet.text}}
	</div>
</div>

<div ng-if="isLoggedIn()" ng-controller="UserControlPanelCtrl" id="user-cp-wrapper-wrapper">
	<div id="user-cp-wrapper" ng-cloak collapse="userCpIsCollapsed" >
		<div id="user-cp">
			<div class=row>
				<div class="medium-6 small-6 columns">
					<i class=icon-navigation></i> Dashboard for <span ng-bind-html="getCurrentUser().name"></span> ({{getCurrentUser().id}})
				</div>
				<div class="medium-6 small-6 columns" ng-click="userCpIsCollapsed=true">
					<a href="/#/volumes/0"><i class="icon-home"></i> Home</a>
					&nbsp;
					<a href="/#/volumes/1"><i class="icon-spaceinvaders"></i> Psandbox</a>
					&nbsp;
					<a href="/#/my-account"><i class="icon-user"></i> My Acct</a>
					&nbsp;
					<i class="icon-user-tie"></i> Last activity
					&nbsp;
					<a href="/signout"><i class="icon-exit"></i> Logout</a>
				</div>
			</div>
		</div>
	</div>
	<a id="user-cp-tab" class="button" ng-click="userCpIsCollapsed=!userCpIsCollapsed">
		<i class=icon-pacman></i>
	</a>
</div>

<ng-view class="view-animate" ng-if="isLoggedIn()"></ng-view>

<ng-include ng-if="getCurrentUser().$resolved && !isLoggedIn()" src="'/sign-in.html'"></ng-include>

</body>
</html>
